@import "../../Utils/responsive.scss";
@import "../../Utils/mixins";
@import "../../Utils/variables";

.apartment-detail {
  & .carousel-image-container {
    @include flex-JCenter;
    overflow: hidden;
  }

  & .carousel img {
    margin-top: 1em;
    object-fit: cover;
    width: $carousel-img-width;
    height: $carousel-img-height;
    border-radius: 10px;
  }

  & h1 {
    color: $primary-color;
    font-size: $apartment-title-font-size;
    font-weight: 500;
    margin-left: 5.5vw;
    margin-top: 1vw;
  }

  & .location {
    font-size: $location-font-size;
    font-weight: 500;
    margin-left: 5.5vw;
  }

  .tags {
    margin-left: 5vw;
    margin-top: 1.8em;
    white-space: nowrap;
  }

  & span,
  .tag {
    font-weight: 500;
    border: 1px solid;
    border-radius: 10px;
    padding: $tag-padding;
    background-color: $primary-color;
    color: white;
    margin-left: 0.5em;
  }
}

.host-info {
  @include flex-end;
  position: relative;
  bottom: 7vw;
  right: 6vw;
  gap: $host-info-gap;

  & p {
    @include flex-end-Hcenter-textEnd;
    width: 6vw;
    color: $primary-color;
    font-size: $host-font-size;
    font-weight: 500;
  }

  & .host-picture {
    border-radius: 100px;
    width: $host-picture-width;
  }
}

.rating {
  @include flex-end-Hcenter;
  position: relative;
  bottom: 5.5vw;
  right: 7vw;
}

.star-rating i {
  font-size: $star-font-size;
  margin-right: 10px;
}

.layout-section {
  @include rowCenter;
  position: relative;
  bottom: 40px;
  margin-bottom: $layout-margin-bottom;
}

@include desktop {
  .apartment-detail {
    & .carousel img {
      height: $carousel-img-height-desktop;
      margin-top: 0.1em;
    }

    & h1 {
      font-size: $apartment-title-font-size-desktop;
    }

    & .location {
      font-size: $location-font-size-desktop;
      position: relative;
      right: -0.3vw;
    }

    .tags {
      position: relative;
      right: 0px;
    }

    .tag {
      padding-inline: $tag-padding-desktop;
    }

    .host-info {
      position: relative;
      top: $host-info-top-desktop;
      left: $host-info-left-desktop;
      gap: $host-info-gap-desktop;

      & .host-picture {
        width: $host-picture-width-desktop;
      }
    }

    .rating {
      @include flex-start;
      margin-left: 13vw;
      position: relative;
      top: $rating-top-desktop;
    }

    .layout-section {
      @include columnCenter;
      gap: $layout-gap-desktop;
      margin-top: 6vw;
    }
  }
}

@include tablet {
  .apartment-detail .carousel img {
    width: $carousel-img-width;
    height: $carousel-img-height-tablet;
    position: relative;
    left: 0px;
  }

  .location {
    width: 88%;
  }

  .apartment-detail .host-info {
    gap: $host-info-gap-tablet;

    & .host-picture {
      width: $host-picture-width-tablet;
    }
  }

  .host-info p {
    font-size: $host-font-size-tablet;
  }

  .tags {
    width: 88%;
    flex-wrap: wrap;
    position: relative;
    bottom: 10px;

    & .tag {
      padding-inline: $tag-padding-tablet;
      font-size: $tag-font-size-tablet;
    }
  }

  .rating i {
    font-size: $star-font-size-tablet;
    position: relative;
    bottom: 5px;
  }
}

@include mobile {
  .carousel-image-container {
    margin-top: -2.5em;
    width: 10px;
  }

  .apartment-detail {
    & .carousel img {
      height: $carousel-img-height-mobile;
      position: relative;
    }
  }

  .apartment-detail h1 {
    width: 88%;
    font-size: $apartment-title-font-size-mobile;
  }

  .apartment-detail .location {
    width: 88%;
    font-size: $location-font-size-mobile;
  }

  .tags {
    width: 88%;

    .tag {
      padding-inline: $tag-padding-mobile;
      font-size: $tag-font-size-mobile;
    }
  }

  .star-rating i {
    font-size: $star-font-size-mobile;
  }

  .apartment-detail .layout-section {
    gap: $layout-gap-mobile;
    margin-bottom: -8em;
    margin-right: 1em;
  }

  .apartment-detail .host-info {
    gap: $host-info-gap-tablet;
    margin-bottom: 1em;

    & p {
      font-size: $host-font-size-mobile;
    }
  }

  .apartment-detail .host-info .host-picture {
    width: $host-picture-width-mobile;
    height: $host-picture-width-mobile;
  }
}
