@import "../../Utils/responsive";
@import "../../Utils/mixins";

.sections-list {
  @include columnCenter;
  align-self: center;
  align-items: center;
  margin: 5em;
  gap: 30px;
}
.sections {
  width: 70vw;
}
@include mobile {

  .sections-list {
    @include align_height_on_center;
    align-self: center;
    margin-top: 2em;
    margin-bottom: -5em; 
    gap: 15px; 
  }
}


