@import "../../Utils/_responsive.scss";
@import "../../Utils/mixins";
@import "../../Utils/variables";

.card-container {
  background-color: #F0F0F0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  max-width: 88vw; 
  gap: 70px;
  margin: 0 auto;
  position: relative;
  padding-left: 80px;
  padding-right: 50px; 
  padding-bottom: 60px;
  padding-top: 60px;
  border-radius: 10px;
  top: 80px;
}


.card {
  position: relative;
  width: 90%;
  height: 40vh;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.05);
  }
}

.card-link {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none; 
  color: inherit; 
}

.card-cover {
  width: 100%;
  height: 100%; 
  object-fit: cover; 
  border-radius: 10px;
}

.Card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  color: #fff;
 
}

.Card-title {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 18px;
  font-weight: bold;
}


@include desktop {
  .card-container {
    width: 100%;
    max-width: 88vw;
    gap: 50px;
    & .card {
      width: 90%;
      height: 30vh;
    }

    & .Card-content {
      padding: 15px;
    }

    & .Card-title {
      font-size: 14px;
    }
  }
}

@include tablet {

  .card-container {
    @include column;
    margin-top: -2em;
    gap: 20px;
    & .card {
      margin-left: 0.6em;
      width: 88%;
      height: 50vh;
      & .Card-content {
        padding: 40px;
      & .Card-title {
        font-size: 22px;
        position: relative;
        right: 10px;
        top: 20px;
      }
      }
    }
  }
}

@include mobile {
  .card-container {
    & .card {
      width: 100%;
      height: 30vh;
      margin-left: -0.7em;
      & .Card-content {
        & .Card-title {
        font-size: 13px;
        position: relative;
        right: 1.5em;
        }
      }
    }
  }
}