@import "../../Utils/_responsive.scss";
@import "../../Utils/_variables.scss"; // Importe les variables

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: $header-padding-bottom;
}

.header-logo {
  margin-left: $logo-margin-left;
  margin-top: $logo-margin-top;

  & img {
    width: $logo-width;
    height: $logo-height;
  }
}

.nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: $nav-gap;
  font-size: $nav-font-size;
  font-weight: 500;
  position: relative;
  top: $nav-top;
  right: $nav-right;
}

.nav a:hover {
  text-decoration: underline;
}

@include desktop {
  .header {
    display: flex;
    justify-content: space-between;
  }

  .header img {
    width: $desktop-logo-width;
    height: $desktop-logo-height;
    position: relative;
    right: 50px; 
  }

  nav {
    position: relative;
    left: -2.8em;
  }
}

@include tablet {
  .header-logo img {
    width: $tablet-logo-width;
    height: $desktop-logo-height;
    margin-top: -20px;
    margin-bottom: 15px;
  }

  nav a {
    font-size: $tablet-nav-font-size;
  }
}

@include mobile {
  .header-logo img {
    width: $mobile-logo-width;
    height: $mobile-logo-height;
    position: relative;
    right: 80px; 
  }

  .nav {
    gap: $mobile-nav-gap;
    position: relative;
    left: $mobile-nav-left;
    margin-bottom: 0.7em;

    & a {
      font-size: $mobile-nav-font-size;
    }
  }
}
