@import "../../Utils/responsive.scss";

.carousel {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%; 
  position: relative;
}

.carousel-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.carousel img {
  max-width: 100%;
  max-height: 500px; 
  object-fit: cover;
  position: relative;
}

.carousel-btn {
  border: none;
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 45%;
  padding: 10px;
  z-index: 1;
}

.carousel svg {
 width: 3vw;
}

.carousel-btn.left {
  left: 7%;
}

.carousel-btn.right {
  right: 6%;
}

.carousel-btn:hover {
 transform: scale(1.1);
}

.Counter {
  position: absolute;
  bottom: 30px;
  right: 915px;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
}



@include mobile {
  .carousel-btn {
    bottom: 100px;
    margin-top: -1.5em;
  }
}
