@import "../../Utils/responsive.scss";
@import "../../Utils/mixins";
@import "../../Utils/variables";

.section {
  @include columnCenterStart;
  color: white;
  border: none;
  border-radius: 10px;
  width: $section-width;
  margin-left: $section-margin-left;
  overflow: hidden;
  cursor: pointer;
  position: relative;

  & h2 {
    @include flex-start;
    align-items: center;
    padding: $section-padding-h2;
    font-weight: $section-font-weight;
    background-color: $primary-color;
    width: 100%;
    height: $section-height-h2;
    border-radius: 10px 10px 0px 0px;
  }
}

.section .arrow-icon {
  width: $arrow-icon-width;
  position: absolute;
  top: 13px;
  right: 20px;
  transform: translateY(-50%);
  color: white;
  transition: $arrow-transition;
}

.arrow-icon.up {
  transform: rotate(180deg);
}

.arrow-icon.down {
  transform: rotate(0deg);
}

.content {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: $content-transition;
  max-height: $content-max-height;
  padding: $content-padding;
  background-color: #f0f0f0;
  color: black;
}

@include desktop {
  .layout-section {
    margin-top: $layout-margin-top;
  }

  .section {
    width: $section-width-desktop;

    & .content {
      padding: $content-padding-desktop;
    }
  }
}

@include tablet {
  .layout-section {
    @include columnCenter;
    margin-top: $layout-margin-top;
    gap: $layout-gap-tablet;
  }

  .section {
    width: $section-width-tablet;
    font-size: 14px;
  }
}

@include mobile {
  .section {
    width: 98%;
  }
  .toggle-wrapper h2 {
   padding: 20px;
  }
  .toggle-wrapper .section .arrow-icon {
   font-size: 13px;
   margin-top: -0.5em;
   margin-right: -0.7em;
  }
  .content p {
   font-size: 12px;
   padding: 10px;
  }
  }