@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/* Position */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
div,
span {
  font-family: "Montserrat", sans-serif !important;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font: inherit;
}

input,
textarea,
select,
button {
  font: inherit;
  color: inherit;
}

body {
  line-height: 1.5;
  font-family: sans-serif;
  background-color: #fff;
  color: #000;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 50px;
}

.header-logo {
  margin-left: 100px;
  margin-top: 50px;
}
.header-logo img {
  width: 250px;
  height: 80px;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 57px;
  font-size: 24px;
  font-weight: 500;
  position: relative;
  top: 15px;
  right: 130px;
}

.nav a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1065px) {
  .header {
    display: flex;
    justify-content: space-between;
  }
  .header img {
    width: 220px;
    height: 70px;
    position: relative;
    right: 50px;
  }
  nav {
    position: relative;
    left: -2.8em;
  }
}
@media screen and (max-width: 768px) {
  .header-logo img {
    width: 25vw;
    height: 70px;
    margin-top: -20px;
    margin-bottom: 15px;
  }
  nav a {
    font-size: 18px;
  }
}
@media screen and (max-width: 540px) {
  .header-logo img {
    width: 35vw;
    height: 10vh;
    position: relative;
    right: 80px;
  }
  .nav {
    gap: 20px;
    position: relative;
    left: -1.2em;
    margin-bottom: 0.7em;
  }
  .nav a {
    font-size: 15px;
  }
}
/* Position */
.Banner-pos {
  display: flex;
  justify-content: center;
  width: 100%;
}

.Banner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("../../assets/Banner.png");
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  color: white;
  height: 250px;
  width: 88%;
}

.Banner-title {
  font-size: 48px;
  font-weight: 700;
  white-space: nowrap;
}
.Banner-title .responsive-break {
  display: inline;
}

@media screen and (max-width: 1065px) {
  .Banner-pos {
    justify-content: center;
    width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 1065px) {
  .Banner-pos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: -3em;
  }
  .Banner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 32vh;
  }
  .Banner-title {
    width: 90%;
    font-size: 40px;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .Banner {
    height: 20vh;
  }
  .Banner-pos {
    margin-top: -3em;
  }
  .Banner-title {
    white-space: normal;
    word-break: break-word;
    text-align: start;
  }
  .Banner-title .responsive-break {
    display: block;
  }
}
@media screen and (max-width: 540px) {
  .Banner {
    height: 15vh;
  }
  .Banner .Banner-title {
    font-size: 24px;
  }
}
.Banner-about {
  background-image: url("../../assets/BannerAbout.png");
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  height: 30vh;
  width: 85vw;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: auto;
}

@media screen and (max-width: 540px) {
  .Banner-about {
    height: 20vh;
  }
}
/* Position */
.card-container {
  background-color: #F0F0F0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  max-width: 88vw;
  gap: 70px;
  margin: 0 auto;
  position: relative;
  padding-left: 80px;
  padding-right: 50px;
  padding-bottom: 60px;
  padding-top: 60px;
  border-radius: 10px;
  top: 80px;
}

.card {
  position: relative;
  width: 90%;
  height: 40vh;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s;
}
.card:hover {
  transform: scale(1.05);
}

.card-link {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.card-cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.Card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  color: #fff;
}

.Card-title {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 18px;
  font-weight: bold;
}

@media screen and (max-width: 1065px) {
  .card-container {
    width: 100%;
    max-width: 88vw;
    gap: 50px;
  }
  .card-container .card {
    width: 90%;
    height: 30vh;
  }
  .card-container .Card-content {
    padding: 15px;
  }
  .card-container .Card-title {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .card-container {
    display: flex;
    flex-direction: column;
    margin-top: -2em;
    gap: 20px;
  }
  .card-container .card {
    margin-left: 1em;
    width: 88%;
    height: 60vh;
  }
  .card-container .card .Card-content {
    padding: 40px;
  }
  .card-container .card .Card-content .Card-title {
    font-size: 22px;
    position: relative;
    right: 10px;
    top: 20px;
  }
}
@media screen and (max-width: 540px) {
  .card-container .card {
    width: 100%;
    height: 40vh;
    margin-left: -0.2em;
  }
  .card-container .card .Card-content .Card-title {
    font-size: 13px;
    position: relative;
    right: 1.5em;
  }
}
/* Position */
.carousel {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.carousel-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  overflow: hidden;
}

.carousel img {
  max-width: 100%;
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

.carousel-btn {
  border: none;
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 45%;
  padding: 10px;
  z-index: 1;
}

.carousel svg {
  width: 3vw;
}

.carousel-btn.left {
  left: 7%;
}

.carousel-btn.right {
  right: 6%;
}

.carousel-btn:hover {
  transform: scale(1.1);
}

.Counter {
  position: absolute;
  bottom: 30px;
  right: 47%;
  color: #ffffff;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
}

@media screen and (max-width: 540px) {
  .carousel-btn {
    bottom: 100px;
    margin-top: -1.5em;
  }
}
/* Position */
.section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  border: none;
  border-radius: 10px;
  width: 43vw;
  margin-left: 1em;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
.section h2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 25px;
  font-weight: 700;
  background-color: #ff6060;
  width: 100%;
  height: 6vh;
  border-radius: 10px 10px 0px 0px;
}

.section .arrow-icon {
  width: 25px;
  position: absolute;
  top: 13px;
  right: 20px;
  transform: translateY(-50%);
  color: white;
  transition: transform 0.3s ease-in-out;
}

.arrow-icon.up {
  transform: rotate(180deg);
}

.arrow-icon.down {
  transform: rotate(0deg);
}

.content {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.9s ease-in-out;
  max-height: 500px;
  padding: 10px 50px 15px 15px;
  background-color: #f0f0f0;
  color: black;
}

@media screen and (max-width: 1065px) {
  .layout-section {
    margin-top: 6vw;
  }
  .section {
    width: 97%;
  }
  .section .content {
    padding: 10px;
  }
}
@media screen and (max-width: 768px) {
  .layout-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 6vw;
    gap: 40px;
  }
  .section {
    width: 95%;
    font-size: 14px;
  }
}
@media screen and (max-width: 540px) {
  .section {
    width: 98%;
  }
  .toggle-wrapper h2 {
    padding: 20px;
  }
  .toggle-wrapper .section .arrow-icon {
    font-size: 13px;
    margin-top: -0.5em;
    margin-right: -0.7em;
  }
  .content p {
    font-size: 12px;
    padding: 10px;
  }
}
/* Position */
.apartment-detail .carousel-image-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.apartment-detail .carousel img {
  margin-top: 1em;
  -o-object-fit: cover;
     object-fit: cover;
  width: 89%;
  height: 80vh;
  border-radius: 10px;
}
.apartment-detail h1 {
  color: #ff6060;
  font-size: 36px;
  font-weight: 500;
  margin-left: 5.5vw;
  margin-top: 1vw;
}
.apartment-detail .location {
  font-size: 17px;
  font-weight: 500;
  margin-left: 5.5vw;
}
.apartment-detail .tags {
  margin-left: 5vw;
  margin-top: 1.8em;
  white-space: nowrap;
}
.apartment-detail span,
.apartment-detail .tag {
  font-weight: 500;
  border: 1px solid;
  border-radius: 10px;
  padding: 5px 25px;
  background-color: #ff6060;
  color: white;
  margin-left: 0.5em;
}

.host-info {
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 7vw;
  right: 6vw;
  gap: 20px;
}
.host-info p {
  display: flex;
  text-align: end;
  align-items: center;
  width: 6vw;
  color: #ff6060;
  font-size: 18px;
  font-weight: 500;
}
.host-info .host-picture {
  border-radius: 100px;
  width: 100px;
}

.rating {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  bottom: 5.5vw;
  right: 7vw;
}

.star-rating i {
  font-size: 34px;
  margin-right: 10px;
}

.layout-section {
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: relative;
  bottom: 40px;
  margin-bottom: -120px;
}

@media screen and (max-width: 1065px) {
  .apartment-detail .carousel img {
    height: 100vh;
    margin-top: 0.1em;
  }
  .apartment-detail h1 {
    font-size: 30px;
  }
  .apartment-detail .location {
    font-size: 19px;
    position: relative;
    right: -0.3vw;
  }
  .apartment-detail .tags {
    position: relative;
    right: 0px;
  }
  .apartment-detail .tag {
    padding-inline: 3vw;
  }
  .apartment-detail .host-info {
    position: relative;
    top: 3vw;
    left: -5vw;
    gap: 35px;
  }
  .apartment-detail .host-info .host-picture {
    width: 9vw;
  }
  .apartment-detail .rating {
    display: flex;
    justify-content: flex-start;
    margin-left: 13vw;
    position: relative;
    top: -2em;
  }
  .apartment-detail .layout-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    margin-top: 6vw;
  }
}
@media screen and (max-width: 768px) {
  .apartment-detail .carousel img {
    width: 89%;
    height: 50vh;
    position: relative;
    left: 0px;
  }
  .location {
    width: 88%;
  }
  .apartment-detail .host-info {
    gap: 38px;
  }
  .apartment-detail .host-info .host-picture {
    width: 55px;
  }
  .host-info p {
    font-size: 16px;
  }
  .tags {
    width: 88%;
    flex-wrap: wrap;
    position: relative;
    bottom: 10px;
  }
  .tags .tag {
    padding-inline: 2vw;
    font-size: 12px;
  }
  .rating i {
    font-size: 30px;
    position: relative;
    bottom: 5px;
  }
}
@media screen and (max-width: 540px) {
  .carousel-image-container {
    margin-top: -2.5em;
    width: 10px;
  }
  .apartment-detail .carousel img {
    height: 30vh;
    position: relative;
  }
  .apartment-detail h1 {
    width: 88%;
    font-size: 23px;
  }
  .apartment-detail .location {
    width: 88%;
    font-size: 15px;
  }
  .tags {
    width: 88%;
  }
  .tags .tag {
    padding-inline: 1.3vw;
    font-size: 10px;
  }
  .star-rating i {
    font-size: 22px;
  }
  .apartment-detail .layout-section {
    gap: 20px;
    margin-bottom: -8em;
    margin-right: 1em;
  }
  .apartment-detail .host-info {
    gap: 38px;
    margin-bottom: 1em;
  }
  .apartment-detail .host-info p {
    font-size: 13px;
  }
  .apartment-detail .host-info .host-picture {
    width: 40px;
    height: 40px;
  }
}
/* Position */
.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 25vh;
  margin-top: 120px;
  background-color: black;
}
.Footer img {
  position: relative;
  left: 125px;
  bottom: 30px;
}
.Footer h3 {
  color: white;
  position: relative;
  right: 60px;
  top: 50px;
}

@media screen and (max-width: 768px) {
  .Footer {
    height: 40vh;
  }
}
/* Position */
.sections-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
  margin: 5em;
  gap: 30px;
}

.sections {
  width: 70vw;
}

@media screen and (max-width: 540px) {
  .sections {
    width: 84vw;
    margin-right: 1em;
  }
  .sections h2 {
    padding: 20px;
  }
  .sections .arrow-icon {
    margin-top: -5px;
  }
  .sections-list {
    display: flex;
    align-items: center;
    align-self: center;
    margin-top: 2em;
    margin-bottom: -5em;
    gap: 15px;
  }
}
.error-404 {
  text-align: center;
  margin-top: 100px;
}

.error-404 h1 {
  font-size: 12rem;
  font-weight: 800;
  color: #ff6060;
}

.error-404 p {
  font-size: 1.5rem;
  margin: 20px 0;
  color: #ff6060;
  padding-bottom: 1.3rem;
}

.home-link {
  text-decoration: none;
  font-size: 1.2rem;
}

.home-link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 540px) {
  .error-404 {
    margin-top: 0px;
  }
  .error-404 h1 {
    font-size: 6em;
  }
  .error-404 p {
    font-size: 1em;
  }
  .home-link {
    font-size: 1em;
  }
}/*# sourceMappingURL=style.css.map */