*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font: inherit;
}

img {
  max-width: 100%;
  display: block;
}

input,
textarea,
select,
button {
  font: inherit;
  color: inherit;
}

body {
  line-height: 1.5;
  font-family: sans-serif;
  background-color: #fff;
  color: #000;
}
