@import "../../Utils/responsive.scss";
@import "../../Utils/mixins";
@import "../../Utils/_variables.scss"; 


.Banner-pos {
  @include flex-JCenter;
  width: 100%;
}

.Banner {
  @include align_all_on_center;
  background-image: url("../../assets/Banner.png");
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  border-radius: $radius;
  color: white;
  height: 250px; 
  width: $banner-width;
}

.Banner-title {
  font-size: $banner-title-font-size;
  font-weight: $banner-title-weight;
  white-space: nowrap;

  .responsive-break {
    display: inline;
  }
}

.Banner-pos {
  @include desktop {
    justify-content: center;
    width: 100%;
    margin: 0;
  }
}

@include desktop {
  .Banner-pos {
    @include align_on_center;
    width: 100%;
    margin-bottom: $banner-margin-bottom-desktop;
  }

  .Banner {
    @include align_on_center;
    padding: 0;
    height: $banner-height-desktop;
  }

  .Banner-title {
    width: $banner-title-width-desktop;
    font-size: $banner-title-font-size-desktop;
    text-align: center;
  }
}

@include tablet {
  .Banner {
    height: $banner-height-tablet;
  }

  .Banner-pos {
    margin-top: $banner-margin-top-tablet;
  }

  .Banner-title {
    white-space: normal;
    word-break: break-word;
    text-align: start;

    .responsive-break {
      display: block;
    }
  }
}

@include mobile {
  .Banner {
    height: $banner-height-mobile;

    & .Banner-title {
      font-size: $banner-title-font-size-mobile;
    }
  }
}
